<li>
    {{burger_name}}
{{!-- 
    <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
        DEVOUR IT!</button> --}}

	<button class="btn btn-outline-primary change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{devoured}}YUM!
	</button>

    <button class="btn btn-outline-primary delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
